$body-bg: #ECEEEB;
$text-color: #707070;
// Omnia logo color
$pink: #E0007C;
$yellow: #eeead0;
$green: #CAD300;
$blue: #53abe4;

// General color
$white: #fff;
$black: #1e1e1e;
$gray: #767676;
$dark-gray: #2a2a2a;
$light-gray: #CCCCCC;

$red: #dc2222;

.color {
    color: #dc2222
}