.header {
    background-color: $black;
    color: $white;
    height: 70px;
    display: flex;

    @include breakpoint(md-min) {
        height: 100px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(md) {
            transform: translateY(-100%);
            transition: transform .3s ease-in-out;

            .header.active & {
                transform: translate(0);
            }

            flex-direction: column;
            justify-content: center;
            @include fixed(0, 0, 0, 0);
            background-color: $dark-gray;
            width: 100vw;
        }
    }

    .nav {
        display: flex;
        align-items: center;
        font-size: 11px;
        font-weight: bold;

        @include breakpoint(md) {
            &--right {
                margin-top: 10px;
            }
        }

        i {
            font-size: 15px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            @include breakpoint(md-min) {
                display: flex;
            }

            li {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                @include breakpoint(md-min) {
                    +li {
                        margin-left: 20px;
                    }
                }

                @include breakpoint(md) {
                    font-size: 20px;

                    +li {
                        margin-top: 10px;
                    }
                }
            }
        }

        a {
            text-transform: uppercase;
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        z-index: 22;

        @include breakpoint(md-min) {
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            display: block;
        }
    }

    .basket {
        display: flex;
        flex-shrink: 0;

        a {
            display: block;
        }

        &__count {
            display: flex;
            width: 15px;
            height: 18px;
            justify-content: center;
            align-items: center;
            background-color: $blue;
            font-size: 12px;
            margin-left: 9px;
            position: relative;
            font-weight: bold;

            &::before {
                content: "\0020";
                display: block;
                position: absolute;
                border: 9px solid transparent;
                border-right-color: $blue;
                transform-origin: left;
                transform: scaleX(0.5) translateX(-100%);
                top: 0;
                left: 0;
                bottom: 0;
            }
        }
    }

    position: relative;

    .hamburger {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        z-index: 22;

        @include breakpoint(md-min) {
            display: none;
        }

        &__icon {
            display: block;
            @include burger(30px, 3px, 5px, $white);

            &.active {
                @include burger-to-cross;
            }
        }
    }
}