.scroll-navigator {
    @include breakpoint(md-min) {
        width: 65px;
        height: 65px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(45deg);
        background: $black;
    }

    &::before {
        content: "\0020";
        display: block;
        height: 1px;
        background-color: $white;
        width: 22px;
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%) rotateZ(90deg);

        @include breakpoint(md-min) {
            transform: translate(-50%, -50%) rotateZ(-45deg);
        }
    }

    @include breakpoint(md) {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: black;
        padding: 0 20px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__next,
    &__prev {
        @include breakpoint(md-min) {
            position: absolute;
        }

        @include breakpoint(md) {
            transform: rotateZ(45deg) translateX(-50%);
        }

        width: 17px;
        height: 17px;
        border: 1px solid $white;
        transition: border .3s;

        &:hover {
            border-color: $blue;
        }
    }

    &__prev {
        @include breakpoint(md-min) {
            left: 13px;
            top: 13px;
        }

        @include breakpoint(md) {
            transform: rotateZ(45deg) translateX(50%);
        }

        border-bottom: none;
        border-right: none;
    }

    &__next {
        @include breakpoint(md-min) {
            right: 13px;
            bottom: 13px;
        }

        border-top: none;
        border-left: none;
    }

}